
<%- include("partials/header"); -%> 
<h1><%=postHeading%></h1>
<blockquote>
    <p><%=postText%></p>
</blockquote>

<figcaption>
    &mdash; <%=postWriter%>   </figcaption>




<%- include("partials/footer"); -%>

